In [1]:
import torch
import pandas as pd 
import numpy as np 
import altair as alt 
torch.__version__

import os
from gym_runner import GymRunner
from q_func_approx import QualityFuncApprox
from agents.sarsa_agent import SarsaAgent
from agents.q_learning_agent import QLearningAgent
from grid_search import GridSearch

In [2]:
param_grid = dict(
    alpha=np.logspace(-6, -2, 10),
    gamma=np.linspace(.9, .99, 5),
    epsilon_decay=np.linspace(.997, .999, 5),
)
param_grid_small = dict(
    alpha=np.logspace(-6, -2, 5),
    gamma=np.linspace(.9, .99, 4),
)

gs = GridSearch(
    agent = SarsaAgent, 
    Q = QualityFuncApprox, 
    runner = GymRunner,
    env_id = "CartPole-v1", 
    param_grid = param_grid_small)


gs_Q = GridSearch(
    agent = QLearningAgent, 
    Q = QualityFuncApprox, 
    runner = GymRunner,
    env_id = "CartPole-v1", 
    param_grid = param_grid_small)

In [3]:
results_Q = gs_Q.fit()

In [4]:
results_Q.sort_values('mean_score')

       alpha  gamma  mean_score  max_mean_score
16  0.010000   0.90       9.312            9.34
5   0.000010   0.93       9.342            9.44
9   0.000100   0.93       9.346            9.43
10  0.000100   0.96       9.356            9.46
14  0.001000   0.96       9.364            9.46
8   0.000100   0.90       9.372            9.47
11  0.000100   0.99       9.374            9.46
4   0.000010   0.90       9.584           10.51
19  0.010000   0.99       9.654           10.68
18  0.010000   0.96       9.766           11.16
7   0.000010   0.99       9.948           12.32
1   0.000001   0.93      11.190           14.36
2   0.000001   0.96      11.716           21.35
3   0.000001   0.99      12.294           23.82
6   0.000010   0.96      12.630           23.04
17  0.010000   0.93      16.406           44.65
0   0.000001   0.90      17.396           38.99
13  0.001000   0.93      25.330           89.28
12  0.001000   0.90      26.732           76.99
15  0.001000   0.99      28.900           68.01

In [5]:
results = gs.fit()

In [6]:
results.sort_values('mean_score')

       alpha  gamma  mean_score  max_mean_score
10  0.000100   0.96       9.282            9.37
9   0.000100   0.93       9.308            9.42
3   0.000001   0.99       9.350            9.47
11  0.000100   0.99       9.390            9.48
8   0.000100   0.90       9.390            9.49
15  0.001000   0.99       9.408            9.49
6   0.000010   0.96       9.410            9.57
7   0.000010   0.99       9.436            9.58
1   0.000001   0.93       9.846           11.89
14  0.001000   0.96      12.524           14.43
19  0.010000   0.99      12.576           25.86
5   0.000010   0.93      13.474           19.89
0   0.000001   0.90      31.194           84.20
2   0.000001   0.96      45.828          116.58
4   0.000010   0.90      46.632          187.12
12  0.001000   0.90      51.708          130.22
13  0.001000   0.93      61.488          131.48
18  0.010000   0.96      79.046          205.86
16  0.010000   0.90     106.880          480.66
17  0.010000   0.93     194.636          303.39